header{
    height: 100vh;
    background-image: url(img/shiny-tree-hill-slope-with-sunny-beams-mountain-valley-covered-with-fog.jpg);
    background-size: cover;
    background-attachment: fixed;

}
header div{
    display: flex;
    height: 100vh;
    background-color: rgba(223, 203, 229, 0.322);
    background:linear-gradient(rgba(243, 184, 96, 0.452),rgba(157, 107, 138, 0.363)) ;
}
header h1{
    margin:auto;
    font-family: PressStart;
    font-size: 7vw;
    color: rgb(159, 99, 21);

}
@font-face {
    font-family: PressStart;
    src: url(fonts/Triodion/Triodion-Regular.ttf);
}
#poem{
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    background-color: rgb(255, 219, 160);
}
#poem p{
    font-size:15px;
    font-size:20px;
    line-height: 40px;
    color: rgb(0, 0, 0);
     border: 10px groove rgb(243, 185, 115);
     padding: 10px;
}
#poem img{
    width: 300px;
    object-fit: cover; 
}
header{
    background-attachment:fixed;
}
#priznaki{
    font-size:20px;
    line-height: 20px;
    color: rgb(0, 0, 0);
     border: 10px groove rgb(227, 178, 118);
     padding: 20px;
     background-color: rgb(233, 160, 51);
}
#priznaki h3{
    text-align:center;
}
#prazdniki{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    display:flex;
    justify-content: center;
    gap: 20px;
    align-items:center;
    background-color: rgb(221, 142, 39);
    padding:50px;
    object-fit:cover ;
    border:10px groove rgb(230, 189, 164);
    font-size:20px ;
font-family:10px ;
line-height:2;
text-align: center;
padding: 50px;
background-image: url(img/premium_photo-1723718620339-a8e5c783dce3.avif);
background-size: cover;
}
#prazdniki a{
    color: rgb(107, 59, 42);
    width: 70%;
    padding: 20px;
    background-color:#efc6b7;
    border: 5px groove rgb(107, 76, 65);
text-decoration:none;
font-size: 30px;
transition: all 1s;
}
#prazdniki a:hover{
border-radius: 20px;
color:rgb(237, 165, 120);
background-color: rgb(112, 28, 28);
}
#priznaki h2{
    text-align: center;
    color: #a47872;

}  
#priznaki ul{
    width: fit-content;
    margin: auto;
    list-style-type: none;
    font-size: 30px;
}
   
#priznaki li:first-child{
    background-image: url(img/Winter-80_icon-icons.com_57238.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#priznaki li:nth-child(2){
        background-image: url(img/tradition_autumn_holiday_fall_weather_icon_227940.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 40px;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
}
#priznaki li:nth-child(3){
    background-image: url(img/moon_night_midnight_2768.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#kirpich{
    background-color: #e6d4c7;
  text-align: center; 
  border: 10px groove rgb(230, 197, 164);
 
}
#kirpich img{
width: 350px;
height: 350px;
justify-content:baseline; 
margin-left: 5%;
border: 3px solid rgb(128, 79, 0);
 margin-top: 10px;
 margin-bottom: 9px;
}
#kalendar{
    border: 10px groove rgb(246, 218, 184);
    background-color: #fed9c8;
  margin-top: 5px;
}
#kalendar td{
    border: 3px groove rgb(255, 222, 192);
    text-align: center;
    width: 150px;
    height: 60px;
}
#kalendar table{
    margin-left: 730px;
}
#kalendar section{
    background-color: #fec4b4;
  
}
#film video{
    border: 15px groove rgb(253, 176, 100);
   width: fit-content;
    margin-left: 250px;
}
#film{
    padding: 5px;
}
#kapli{
    position: absolute;
    top: 5%;
    left: 46%;
    animation: run 5s infinite;
    width: 100px;
}
@keyframes run{
    from{
        top: 50px;
        transform: rotate(0deg);
        opacity: 1;
    }
    to{
        top: 1500px;;
        transform: rotate(720deg);
        opacity: 0;
    }
}